.heading{
    display: flex;
    justify-content: center;
    align-items: center;
    width: fit-content;
    font-size: 40px;
    border-bottom: 1px solid grey;
}

.heading-container{
    margin: 40px 0 40px 0;
    display: flex;
    justify-content: center;
}
.card-container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}
.latest-products-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

@media(max-width: 550px){
    .heading{
        font-size: 20px; 
    }
 }